<div class="row">
    <div class="col-md-12">
        <h2>Categories
            <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
        </h2>
        <hr />

        <p>
        <table>
            <tr>
                <th width="100">Category Id</th>
                <th width="175">Category Name</th>
            </tr>

            {{#each categories}}
            <tr>
                <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
                <td><a href="/posts?category={{this.id}}">{{this.category}}</a>
                </td>
                <td><a href="/category/delete/{{this.id}}" class="btn btn-danger pull-right">Remove</a>
                </td>
            </tr>
            {{else}}
            <tr>No data available</tr>
            {{/each}}
        </table>
        </p>

    </div>
    {{#unless categories}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
    </p>
</div>
</div>