<div class="row">
    <div class="col-md-12">
          <h2>Posts</h2>
          <hr />

          <p>
              <table>
                  <tr> 
                      <th width="85">Post ID</th>
                      <th width="250">Title</th>
                      <th width="100">Post Date</th>
                      <th width="80">Category</th>
                      <th width="100">Published</th>
                  </tr>
              
              {{#each posts}}
              <tr>
                  <td>{{id}}</td>
                  <td>{{title}}</td>
                  <td>{{postDate}}</td>
                  <td><a
                  href="/posts?category={{category}}">{{category}}</a>
                  </td>
                  <td>{{published}}</td>
              </tr>
              {{else}}
              <tr>No data available</tr>
              {{/each}}
              </table>
          </p>

    </div>
    {{#unless posts}}
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
     </div>

    {{/unless}}
</div>

